body {
   background-image: url('../images/wall.jpg'); 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

header {
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: 50px;
    background-color: rgb(255, 124, 72);
    color: white;
    text-shadow: 2px 2px 4px #383838;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

main {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 70px;
}

a:hover {
    text-decoration-line: none;
    font-weight: bold;
    color: rgb(0, 167, 14);
}

.cards-container {
    margin-bottom: 50px;
}

.card {
    margin-right: 20px!important;
    display: inline-block;
    margin-top: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.header-h1 {
    font-weight: bold;
    font-size: 25px;
}

.header-h2 {
    font-size: 22px;
    color: rgb(44, 44, 44);
}

.list-group-item {
    font-size: 14px;
}

.span-li {
    font-weight: bold;
}

@media screen and (max-width: 1700px){
    main {
        width: 70%;
    }
}

@media screen and (max-width: 887px){
    main {
        width: 90%;
    }
}